<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<button>Students</button>
<button>Teachers</button>
<button>Classes</button>
<button>Workshops</button>
